.register {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	max-width: 500px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.field label {
	color: #c4c4c4;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
}

.links {
	display: flex;
	flex-direction: column;
	gap: 3px;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	color: var(--text-secondary-color);
}

.links a {
	color: var(--primary-color);
	text-decoration: none;
}

.error {
	background: rgb(231, 83, 83);
	color: var(--white-color);
	padding: 20px;
	border-radius: 10px;
}
